.main-banner {
	display: table;
	position: relative;
	width:100%;
	height:auto;
    @media screen and (max-width:767px) {
	    padding-top:0;    
	 }
	
	.mb-container {
		display: table;
		position: relative;
		width: 100%;
	
		video {				
			@media screen and (max-width:480px) {
				display: none;
			}
		}
	
		.mb-messaging {
			width:100%;
			max-width:1400px;
			margin:auto;
			z-index:91;
			position: absolute;
			top:40%;
			left: 0;
			right:0; 
			transform: translate(0,-50%);
			
			@media screen and (max-width:767px) {
				transform: none;
				top:0;
				padding-bottom:75px;
				position: relative;
			}
			@media screen and (max-width:767px) {	
				a {
					width:100%;
					margin:5px auto;
					font-size:1.25rem;
				}
			}
			
			
			
			
			.mbm-container {	
				display: table;
				width:100%;	
					
				@media only screen and (min-width: 767px) {
					max-width:75%;
				}
				
				@media screen and (max-width:767px) {
					padding-top:50px;
				 }
				
				h1, h2 {
					font-size:4.5rem;
					@media screen and (max-width:1100px) {
						font-size:2.5rem;
						line-height:2.5rem;
					}
				}
				
				a {
					@media screen and (max-width:1100px) {
						font-size:1rem;
					}
				}
				
				p {
					font-size:1.5rem;
					padding:5px 0 50px;
					line-height: 2.25rem;
					@media screen and (max-width:1100px) {
						font-size:1rem;
						line-height: 1.5rem;
						padding:10px 0 25px;
						
						br {
							display: none;
						}
					}
				}
				
				color:white;
			}
		}
		
		img.mb-background {
			width:100%;
			height:100%;
			max-height:550px;
			object-fit:cover;
			object-position:center;
		
    
		    @media screen and (max-width:768px) {
				position: absolute;
		    }
		}
	}
	
	.banner-arrow {
		position:absolute;
		
	}
	
	#arrow-one {
		left:5%;
		transform: translate(0,225%);
	}
	
	#arrow-two {
		left:25%;
		transform: translate(0,75%);
	}
	
	#arrow-three {
		right:0;
		transform: translate(0,60%);
	}
	
	#arrow-four {
		right:20%;
		transform: translate(0,150%);

	}
}




.cms-banner {
	display: table;
	position: relative;
	width:100%;
	height:auto;
	background:$brand-color-one;
	
	@media screen and (max-width:767px) {
		padding-top:0;
	 }
	
	.cb-container {
		display: table;
		position: relative;
		width: 100%;
		overflow: hidden;
		
		.cb-messaging {
			width:100%;
			max-width:1400px;
			margin:auto;
			z-index:91;
			position: relative;
			padding:50px 25px;
			
			@media screen and (max-width:768px) {
				position: relative;
				transform: none;
				top:0;
				
				a {
					width:100%;
					margin:5px auto;
				}
			}
			
			.cbm-container {	
				display: table;
				width:100%;	
				
				#crumbs {
					position:absolute;
					top:15px;
					
					a {
						color:$brand-color-three;
						font-weight: bold;
					}
				}
				
				h1, h2 {
					font-size:3rem;
					text-shadow: 1px 1px 10px rgba(0,0,0,0.75);
					@media screen and (max-width:768px) {
						font-size:2.5rem;
					}
				}
				
				p {
					font-size:1.5rem;
					padding:5px 0 20px;
					line-height: 2.25rem;
					@media screen and (max-width:768px) {
						font-size:1rem;
						
						br {
							display: none;
						}
					}
				}
				
				color:white;
			}
		}
		
		img.cb-background {
			width:100%;
			height:100%;
			max-height:850px;
			object-fit:cover;
			object-position:center;
		
    
		    @media screen and (max-width:768px) {
				position: absolute;
		    }
		}
	}
}  



.has-overlay {
	.mb-container, .cb-container {
		&:after {
			content:'';
			width:100%;
			height:100%;
			display: block;
			background: $brand-color-one; /* Old browsers */
			background: -moz-linear-gradient(left, $brand-color-one 0%, $brand-color-two 62%, $brand-color-two 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left, $brand-color-one 0%,$brand-color-two 62%,$brand-color-two 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right, $brand-color-one 0%,$brand-color-two 62%,$brand-color-two 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$brand-color-one', endColorstr='$brand-color-two',GradientType=1 ); /* IE6-9 */
			position:absolute;
			top:0;
			opacity:.75;
			z-index:9;
		}
	}
		@-webkit-keyframes rotate {
	    from {-webkit-transform: rotate(0deg);}
	    to {-webkit-transform: rotate(360deg);}
	}
	.cb-container {
		&:before {
			content:'';
			background-image:url('../../images/banner-bg.png');
			background-repeat: no-repeat;
			opacity:.5;
			position: absolute;
			top: 0;
		    right: 50px;
		    width: 500px;
		    height: 500px;
		    display: block;
		    background-size: 100%;
		    -webkit-animation-name: rotate; 
		    -webkit-animation-duration: 20s; 
		    -webkit-animation-iteration-count: infinite;
		    -webkit-animation-timing-function: linear;
		    -moz-animation-name: rotate; 
		    -moz-animation-duration: 20s; 
		    -moz-animation-iteration-count: infinite;
		    -moz-animation-timing-function: linear;
		}
	}
}