/* =POST
****************************************************************************************/

.entry-thumbnail{
    margin-bottom: 20px;
}

.entry-title{
    margin-bottom: 20px;
}

.entry-meta{
    margin-bottom: 20px;
    a{
        margin-right: 10px;
    }
}