/* =Footer
****************************************************************************************/
footer {
	background:#3d3d3d;
	color:white;
	bottom:0;
	width:100%;
	
	a {
		color:$brand-color-one;
	}
}


.footer {
    
    .top-foot {
	    background:#1d1d1d;
	    padding:75px 25px;
	    
			     @media screen and (max-width:768px) {
				  	padding:25px;
				  }
	    
	    .tf--container {
		    display: flex;
		    align-items: top;
		    justify-content: center;
		    flex-direction: row;
		    width:100%;
		    max-width:1400px;
		    margin:auto;
		       @media screen and (max-width:767px) {
			   		flex-direction: column;
		  		}
		    
		    .tf--left {
			    width:25%;
			    
			     @media screen and (max-width:768px) {
				  	width:50%;
				  }
				  @media screen and (max-width:767px) {
					  width:100%;
				  }
			    ul {
				    li {
					    margin:10px 0;
					    a {
							color:$offwhite;
						 	font-family:$brand-font-one;
						 	font-size:1rem;
								 	
								 	i {
									 	color:$brand-color-two;
									 	padding-left:5px;
								 	}
						 	
						    img {
							    max-width:150px;
							    width:100%;
							    margin-bottom:10px;
						    }
						    
						    &:hover {
							    text-decoration: none;
						    }
					    }
				    }
			    }
		    }
		    
		    .tf--right {
			    width:75%;
			    
			     @media screen and (max-width:768px) {
				  	width:52%;
				  }
				  @media screen and (max-width:767px) {
					  width:100%;
				  }
			    
			    >ul {
				    display: table;
				    float: left;
				    width:25%;
				    
				    
				  @media screen and (max-width:767px) {
					  width:100%;
				  }
				    
				    li {
					 display: table;
					 float: left;
					 clear:both;
					 margin:10px 0;
					 
					 
					
					 	a {
						 	color:$brand-color-two;
						 	font-family:$brand-font-one;
						 	font-size:1rem;
					 	}
					 	
					 	ul {
						 	li {
						 		margin:5px 0;
							 	a {
								 	font-family:$brand-font-two;
								 	color:$offwhite;
								 	font-size:.85rem;
								 	
								 	
								 	
								 	i {
									 	color:$brand-color-two;
									 	padding-left:5px;
								 	}
							 	}
							 	
							 	&:first-child {
								 	margin-top:10px;
							 	}
						 	}
					 	}
					
				    }
				    
				    @media screen and (max-width:768px) {
					    display: none!important;
				    }
				    
				    &:last-child {
					    display:table!important;
				    }
				     
			    }
			    
			       ul.keep-tab {
					     @media screen and (max-width:768px) {
						    display: table!important;
						    float: left;
						    width:100%;
					    }
				    }
		    }
	    }
    }
    
    
    .bottom-foot {
	    background:$brand-color-one;
	    padding:50px 25px 75px;
	    
	    @media screen and (max-width:767px) {
	   		padding:25px;
  		}
	    
	     .bf--container {
		    display: flex;
		    align-items: top;
		    justify-content: center;
		    flex-direction: row;
		    width:100%;
		    max-width:1400px;
		    margin:auto;
		       @media screen and (max-width:767px) {
			   		flex-direction: column;
		  		}
		    
		     .bf--left {
			    width:50%;
			     @media screen and (max-width:767px) {
				  	width:100%;
				  }
			    
			    ul {
				    li {
					    float: left;
					    font-size:.85rem;
					    
					    &:after {
						    content: ' | ';
						    color:$offwhite;
						    padding: 0 10px;
						    @media screen and (max-width:767px) {
							    padding:0 8px;
						    }
					    }
					    
					    @media screen and (max-width:767px) {
						    &:nth-child(3) {
							    &:after {
								    content:''!important;
								   }
						    }
					    }
					    
					    a {
						    color:$offwhite;
						    text-decoration: underline;
					    }
					    
					    &:last-child {
						    &:after {
							    content:'';
							    display: none;
						    }
					    }
				    }
			    }
			    
			    .copy {
				    display: table;
				    clear: both;
					color:$offwhite;
					padding:15px 0 0;
						    
						    
					       @media screen and (max-width:767px) {
						   		margin-bottom:25px;
					  		}
			    }
			 }
			 
			 .bf--right {
			    width:50%;
			       @media screen and (max-width:768px) {
				  	width:100%;
				  }
			    ul {
				    li {
					    color:$offwhite;
					    display: table;
					    
					    img {
						    display: table-cell;
						    float: left;
						    width:20%;
						    padding-right:5%;
						    max-width:160px;
						    box-sizing: border-box;
						    
						    
					       @media screen and (max-width:767px) {
						   		width:100%;
						   		margin-bottom:25px;
					  		}
					    }
					    
					    p {
						    display: table-cell;
						    float: right;
						    width:75%;
						    
						    
					       @media screen and (max-width:767px) {
						   		width:100%;
							    line-height: 1.5rem;
							    margin-top: -25px;
					  		}
					    }
				 
				 
				    }
				 
				 
				 
				   
				 
				    
			    }
			 }
		    
		}
	    
	    
    }
    
    
}
.footer-nav{
    padding: 0 0 30px;
    li{
        display: inline-block;
        margin: 0 20px 0 0;
    }
}

