p {
	font-family:$brand-font-two;
}

.container-pad {
    padding: 0 25px;
    
    @media screen and (max-width:480px) {
	    padding:0 25px;
    }
}


.section-cta {
    margin:75px auto;
    
    @media screen and (max-width:480px) {
	    margin:0 25px 75px;
    }
}

.page-template-default input[type=text] {
	margin-bottom:25px;
}


.stripe-box {
	position: relative;
	
	&:before {
		content:'';
		width:25%;
		max-width:50px;
		height:100%;
		display:block;
		background-image: repeating-linear-gradient(145deg, white, $brand-color-two 1px, white 2px, white 5px);
		opacity: .5;
		position: absolute;
	}
}

.section-title {
	font-size:4rem;
	line-height: 4rem;
	
	@media screen and (max-width:768px) {
		font-size:2.25rem;
		line-height: 2.25rem;
	}
	
}

.brand-button {
	display: table;
	text-align: center;
	border-radius: 5px;
	padding:13px 35px;
	font-weight: 500;
	font-size:1.35rem;
	text-decoration: none!important;
	font-family: $brand-font-two;		
	border: 2px solid;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3D(0, 0, 0);
}

.button-one {
	background:white;
	color: black;
	border-color:white;
	transition:.25s box-shadow ease-in-out;
	box-shadow:inset 0px 0.01px 0px 0.01px $brand-color-two;
	
	&:hover {
		border-color:$brand-color-two;
		box-shadow:inset 0px 100px 0px 0px $brand-color-two;
		color:white;
	}
}

.button-two {
	border-color:$brand-color-two;
	color:white;
	background:none;
	transition:.25s box-shadow ease-in-out;
	box-shadow:inset 0px 0.01px 0px 0.01px $brand-color-two;
	
	&:hover {
		box-shadow:inset 0px 100px 0px 0px $brand-color-two;
		color:white;
	}
}

.button-three {
	border-color:$brand-color-two;
	color:$brand-color-one;
	background:none;
	transition:.25s all ease-in-out;
	box-shadow:inset 0px 0.01px 0px 0.01px $brand-color-two;
	
	&:hover {
		box-shadow:inset 0px 100px 0px 0px $brand-color-two;
		color:white;
	}
	
}

.button-four {
	border-color:$brand-color-one;
	color:white;
	background:$brand-color-one;
	transition:.25s all ease-in-out;
	box-shadow:inset 0px 0.01px 0px 0.01px $brand-color-two;
	
	&:hover {
		box-shadow:inset 0px 100px 0px 0px $brand-color-two;
		border-color:$brand-color-two;
		color:white;
	}
	
}

.button-double {
	float: left;
	
	&:last-child {
		margin-left:15px;
	}
}


.two-column-content {
	width:100%;
	display: flex;
	flex-direction: row;
	
	@media screen and (max-width:768px) {
		padding:0 20px;
	}
	@media screen and (max-width:480px) {
		flex-direction: column;
	}
	
	h2 {
		font-size:1.5rem;
		margin-bottom:15px;
		
		@media screen and (max-width:480px) {
			margin-top:15px;
		} 
	}
	
	p {
		font-size:1rem;
		line-height: 1.75rem;
		color: $grey;
		padding-bottom:15px;
	}
	img {
		width:100%;
		height:auto;
	}
	
	ul {
	  margin:15px 0;
	  
	  li {
		  margin-bottom:10px;
		  padding-left:25px;
		  
		  &:before {
			  content:'';
			  background:$brand-color-two;
			  display: inline-block;
			  width:10px;
			  height:10px;
			  margin-left:-20px;
			  margin-top:2px;
			  position: absolute;
		  }
	  }
	}
	
	.tcc--left {
		width:50%;
		float: left;
		display: flex;
		align-items:center;
		
		img {
			padding-right:5%;
			max-height:330px;
			width:auto;
		}
		
	}
	
	.tcc--right {
		width:50%;
		float: left;
		display: flex;
		align-items:center;
		
		img {
			padding-left: 5%;
			max-height:330px;
			width:auto;
		}
	}
}


.two-col {
	display:table;
	width:100%;
	
	.col-one {
		width:50%;
		display: table-cell;
		float: left;
		
		&:first-child {
			padding-right:25px;
		}
		
		@media screen and (max-width:480px) {
			width:100%;
			display: table;
		}
	}
}

//Plus Minus Toggling
.pm-toggle {
 	cursor: pointer;
    height: 16px;
    position: absolute;
    width: 16px;
    right: 5px;
    top: 50%;
    
  &:before,
  &:after{
    background: $brand-color-two;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    top: 0;
    width: 16px;
    transition: transform 500ms ease;
  }
  &:before {
      transform: rotate(180deg);
  }
  &:after {
    transform-origin: center;
    transform: rotate(90deg);
  }
 
}


//Data-tip Tooltip

[data-tip] {
	position:relative;

}
[data-tip]:before {
	content:'';
	/* hides the tooltip when not hovered */
	display:none;
	content:'';
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #1a1a1a;	
	position:absolute;
	top:30px;
	left:0;
	right:0;
	margin:auto;
	z-index:8;
	font-size:0;
	line-height:0;
	width:0;
	height:0;
}
[data-tip]:after {
	display:none;
	content:attr(data-tip);
	position:absolute;
	top:35px;
	left:0;
	right:0;
	margin:auto;
	width: auto;
	padding:5px 8px;
	background:#1a1a1a;
	color:#fff;
	z-index:9;
	font-size: 0.75em;
	height:18px;
	line-height:18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space:nowrap;
	word-wrap:normal;
}
[data-tip]:hover:before,
[data-tip]:hover:after {
	display:block;
}


//Tooltip

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


.cli-plugin-button, .cli-plugin-button:visited, .medium.cli-plugin-button, .medium.cli-plugin-button:visited {
	@media screen and (max-width:480px) {
		display: table;
		clear: both;
		background:$brand-color-two!important;
	    margin: 10px auto;
	    width: 80%;
	    border: 0;
	    border-radius: 0;
	}
}
