.navbar {
	min-height: 65px;
	background: white;
	
	
	.navbar-collapse {
	    @media screen and (max-width:991px) {
		    position: absolute;
			top: 65px;
			background: blue;
			width: 100%;
			left: 0;
			z-index: 999;
		}
	}
}

