html, body {
	background:white;
}

h1 {
	margin:0;
}

a {
	&:hover {
		text-decoration: none;
	}
}

.has-bullet {
	&:before {
		content:"•";
		position:absolute;
	}
}

.back-button {
	clear:both; display: table; margin-top:15px;
}

.ad-bar {
	clear: both;
    display: table;
    width: 100%;
    background: $brand-color-one;
    color: white;
    height: 50px;
    margin-bottom: 15px;
    
    &__ad-container {
	    max-width: 1200px;
		padding: 0 15px;
		width: 100%;
		max-width: 1200px;
	    text-align: right;
	    margin: auto;
	    height: 50px;
	    line-height: 50px;
	    
	    @media #{$mobile} {
		    height: auto;
	    }
		
		a {
			color: white;
		}
    }
}

.back-button {
	background:$brand-color-three;
	color: white;
	padding:3px 5px;
	border-radius: 2px;
}

article footer {
	display: none;
}

.navbar {
	min-height: 100px;
}

.navbar>.container, .navbar>.container-responsive {
	max-width: 1200px;
}

.navbar-brand {
	img {
		max-width:250px;
	}
}

.border-bottom {border-bottom:0!important;}

.alert-blurb {
	width: 20px;
	height: 20px;
	line-height: 20px;
	display: block;
	text-align: center;
	background: red;
	color: white;
	border-radius: 50px;
	position: absolute;
	right: -15px;
	top: 5px;
}
.home-icon {
	position: relative;
	float: left;
}
.home-alerts {
	position: relative;
		float: left;
}

.admin-options, .user-info {
	@media #{$mobile} {
	}
}

h1 {
	color:$brand-color-one;
	
	font-weight:bold;
}
.user-info { 
	display: table;
	float: left;
}

#cms-main {
	display: table;
	background:white; 
	padding:25px 0;
	min-height:600px;
	margin: auto;
    width: 100%;
    max-width: 1200px;
}

.container-pad {
	max-width:1200px;
	margin: auto;
	background: white;
}

.remove-mobile {
	@media #{$mobile} {
		display: none;
	}
}

.cn-container {
	padding: 20px;
    border: 1px solid black;
    position: relative;
    display: table;
    width: 100%;
    
    
    .cn-headliner {
        font-size: 26px;
	    position: absolute;
	    top: -20px;
	    background: white;
	    padding: 0 15px;
	    
	    .fa-sync-alt {
		    transition: .35s transform ease-in-out;
		    transform: rotate(0deg);
		    cursor: pointer;
		    font-size: 12px;
		    margin:0 10px;
		    
		    &:hover {
			    transform: rotate(180deg);
		    }
	    }
	    
	    .cn-view-all {
		    color: $brand-color-one;
		    background:white;
		    font-size: 12px;
		    line-height: 0;
		    -webkit-transition: .25s all ease-in-out;
		    transition: .25s all ease-in-out;
		    
		    &:hover {
			    padding:10px;
			    font-size:14px;
			    text-decoration: none;
			    color: white;
			    background:$brand-color-one;
		    }
	    }
    }
    
    .cn-article {
	    margin:15px 0;
	    padding:15px 0;
	    border-bottom:1px solid #d9d9d9;
	    
	    img {
		    display: none;
	    }
	    
	    &:first-child {
		    padding-top: 0;
	    }
	    
	    &:last-child {
		    border-bottom:0;
		    padding-bottom:0;
	    }
	    
	    .cn-date {
		    font-weight: bold;
			color: $brand-color-one;
			font-size:18px;
	    }
	    
	    .cn-details {
		    font-weight: bold!important;
		    border-radius: 2px;
			font-size: 14px;
		    color: white;
		    background:$brand-color-five;
		    padding: 2px 5px;
		    display: block;
		    clear: both;
		    width: 110px;
		    height: 25px;
		    line-height: 20px;
		    text-align: center;
		    margin-top: 15px;
	    }
	    
	    
	    .cn-headline {
		    position: relative;
		    padding-left:20px;
		    
		&:before {
			content:"•";
			position:absolute;
			top:-1px;
			left:5px;
		}
		    strong {
			    font-size: 18px;
			}
			
			p {
				font-size: 16px;
				line-height: 32px;
				display: table;
				clear: both;
				margin-top:15px;
				margin-bottom:0;
			}
	    }
    }
}

.bp-wrap a {
	color:$brand-color-one;
}
.my-account h1 {display: none;}
#buddypress div#item-header #item-header-cover-image #item-header-content {margin-left:0;margin-top:0;}
#item-header-avatar {display: none;}
#buddypress #header-cover-image {height:auto;}
#buddypress #item-header-cover-image {min-height: auto;}
.item-meta .activity {color:white;}
.header-meta {display: none;}
#buddypress #item-header-cover-image {
	background:$brand-color-one;
	padding:25px 0;
}
.buddypress-wrap .bp-navs li.current a .count, .buddypress-wrap .bp-navs li.selected a .count {
	background:$brand-color-one;
	color: white;
}

#notifications-filter-select, .bp-navs #front-personal-li, .bp-navs #activity-personal-li, .bp-navs #xprofile-personal-li, .bp-navs #profile-personal-li {
	display: none;
}
