.search-results {
	
	article {
		border:1px solid #d9d9d9;
		padding:25px;
		margin:0 0 25px;
		
		h2 {
			margin:0;
			padding: 0;
			a {
				color: $brand-color-two;
				text-decoration: none;
			}
		}
		
		p {
			margin:10px 0;
		}
		
		a.btn-primary {
			background:$brand-color-two;
			
			&:hover {
				background:$brand-color-three;
			}
		}
	}
	
}