.cms-content-container {
	width: 100%;
    max-width: 1400px;
    margin: auto;
    padding:50px 25px;
    
    h2 {
		font-size:2rem;
		padding:0 0 25px;
		margin:0;
	}
	
	h3 {
		font-size: 1.5rem;
		padding:0 0 15px;
		margin:0;
		color:$brand-color-two;
	}
	
	h4 {
		font-size: 1rem;
		padding:0 0 10px;
		margin:0;
		color:$brand-color-two;
	}
	
	.single-column {
		display: table;
		padding:0 0 25px;
	}
	
	.double-column {
		display: table;
		padding:0 0 25px;
	}
	
	ul {
		list-style: none;
		padding:0 0 25px;
		
		li {
			&:before {
				content:'-';
				padding-right:5px;
			}
			margin-bottom:5px;
		}
	}
	
	.dc-col {
		width:46%;
		margin:0 2%;
		float: left;
		&:first-child {
			margin-left:0;
			@media screen and (max-width:767px) {
				margin-bottom:25px;
			}
		}
		
		&:last-child {
			margin-right:0;
		}
		
		@media screen and (max-width:767px) {
			width:100%;
			margin:0;
		}
	}
	
	.flex-carousel {
		margin:0 auto 25px;
		transition:.25s all ease-in-out;
		
		.carousel-disclaimer {
			position:absolute;
			top:0;
			right:0;
			background:rgba(0,0,0,0.5);
			padding:10px 15px;
			color:white;
			opacity:1;
			transition:.25s all ease-in-out;
			
			@media screen and (max-width:480px) {
				opacity:0;
			}
		}
		
		img {
			width:100%;
			object-fit:cover;
			object-position:center;
			max-height:350px;
			transition:.25s all ease-in-out;
		}
		
		
		
		.carousel-indicators {
			
			li {
				transition:.25s all ease-in-out;
				background:$brand-color-two;
				
				&.active {
					background:white;
				}
				
				@media screen and (max-width:480px){
					width:25px;
					height:25px;
					border-radius: 25px;
					margin:0 10px;
					box-shadow: 0 0 10px rgba(0,0,0,0.75);
				}
			}
		
		
		
			@media screen and (max-width:480px) {
				position:relative;
			    bottom: 0;
			    padding: 25px 0;
			}

		}
		
		&:hover{
			img {
				max-height:600px;
			}
			
			.carousel-indicators {
				
				li {
					width:25px;
					height:25px;
					border-radius: 25px;
					margin:0 10px;
					box-shadow: 0 0 10px rgba(0,0,0,0.5);
				}
			}
			
			.carousel-disclaimer {
				opacity:0;
			}
			
		}
		
	}
	
	.cms-cc-img {
		width:100%;
		margin:0 auto 25px;
	}

	#service-accordion {
		#sa-container {
			padding:0!important;
			
			.sa-ul-container {
				padding:50px 0;
			}

		}
	}
	
	.accordion:before {
		display: none!important;
	}
}

.logout-link {
	font-weight: bold; 
	color:black!important;
	font-family: $brand-font-one;
	font-weight: bold;
	font-size:16px;
	padding-left:15px;
	text-shadow: 0 0 .04px black;
	transition:.25s all ease-in-out;
	
	&:hover {
		color:$brand-color-five!important;
		text-shadow: 0 0 .1px $brand-color-five;
	}
}

.not-you {
	font-style:normal;
	font-size:10px;
}

.edit-button {
	font-size:16px;
	display: inline;
	width:auto;
	cursor: pointer;
	transition:.25s all ease-in-out;
	
	&:hover {
		font-size:20px;
		color: $brand-color-five;
	}
}

#gform_submit_button_1 {
	background:$brand-color-one;
	border:0;
	width:100%;
	max-width:250px;
	margin:auto;
	display: table;
	transition:.25s all ease-in-out;
	
	&:hover {
		background:$brand-color-two;
	}

}

.single { 
	p {
		font-size:16px;
		color: $brand-color-four;
		line-height: 32px;
	}
	
	#cms-main {
		width:100%;
		max-width: 1200px; 
	}
}

.edit-form-cn {
	display: none;
}

.toggle-edit-form, .toggle-view-form, .delete-form{
	display:block;
	float: right;
	cursor: pointer;
	font-size:20px;
	transition:.25s all ease-in-out;
	padding-top:10px;
	
	&:hover {
		color: $brand-color-three;
	}
	margin:0 5px;
}

.delete-form {
	a {
		color:$brand-color-five;
		transition:.25s all ease-in-out;
		
		&:hover {
			color:$darkgrey;
		}
	}
}

.toggle-view-form {
	display: none;
}

.acf-form-submit {
	input[type="submit"] {
		background:$brand-color-five;
		border:0;
		display: table;
		margin:auto;
		width:100%;
		max-width:250px;
	}
}

.has-pdf {
	color:$brand-color-five;
	margin:0 10px;
	font-size:16px;
}

#main-contain {
	
	
	h1 {
		padding-top:20px;
	}
	
	.pdf-link {
		color:$brand-color-five;
		padding:10px;
		transition: .25s all ease-in-out;
		
		em {
			font-size:11px;
		}
		
		&:hover {
			background:$brand-color-five;
			color: white;
		}
	}
	
	.back-button {
		margin-top:30px;
		
		&:hover {
			color: white;
			background:$brand-color-five;
			
		}
	}
}