.content {
    h1, h2, h3, h4, h5 { margin: 0 0 15px; font-weight: bold; }
    h1 { font-size: 22px; }
    h2 { font-size: 18px; }
    h3 { font-size: 16px; }
    h4 { font-size: 14px; }
    h5 { font-size: 12px; }
    h6 { font-size: 10px; }
    p, ul, ol { margin-bottom: 15px; }
    ul { margin-left: 25px; list-style: disc; }
    ol { margin-left: 25px; list-style: decimal; }
    ul ul,
    ol ol { margin-top: 10px; }
    li { margin-bottom: 10px; }
    dl { margin: 0 0 15px; }
    dt { font-weight: bold; }
    dd { margin: 0 0 10px 15px; }
    table { margin-bottom: 15px; }
    td, th {
        border: 1px solid #ccc;
        padding: 5px;
    }
    blockquote {
        border-left: 5px solid #aaa;
        margin: 0 0 18px;
        padding: 0 0 0 15px;
        p {
            font-size: 16px;
            font-weight: 300;
            line-height: 22.5px;
        }
        small {
            color: #999;
            display: block;
            line-height: 18px;
            &:before {
                content: "— ";
            }
        }
        *:last-child{
            margin-bottom: 0;
        }
    }
    img {
        padding: 7px;
        background: #fff;
        box-shadow: 1px 1px 6px rgba(0,0,0,0.4);
        &[style*=left] {
            margin: 0 25px 10px 0;
        }
        &[style*=right] {
            margin: 0 0 10px 25px;
        }
    }
}

.alignleft { float: left; margin: 0 20px 20px 0; }
.alignright { float: right; margin: 0 0 20px 20px; }
.alignnone  { display: block; margin: 0 0 20px;}

.table-a {
    border: 1px solid #ddd;
    th, td {
        line-height: 18px;
        padding: 8px;
        text-align: left;
        vertical-align: top;
    }
    tbody {
        tr {
            &:nth-child(2n+1) td,
            &:nth-child(2n+1) th {
                background-color: #F9F9F9;
            }
            &:hover {
                td, th {
                    background-color: #F5F5F5;
                }
            }
        }
    }
}
