$highdensity: "only screen and (-webkit-min-device-pixel-ratio: 1.5)",
"only screen and (min--moz-device-pixel-ratio: 1.5)",
"only screen and (-o-min-device-pixel-ratio: 3/2)",
"only screen and (min-device-pixel-ratio: 1.5)";

$mobile:      "only screen and (max-width: 529px)";
$nomobile:    "only screen and (min-width: 530px)";
$nodesktop:   "only screen and (max-width: 1023px)";
$tablet:      "only screen and (min-width: 530px) and (max-width: 1023px)";
$desktop:     "only screen and (min-width: 1024px)";
$desktop-xl:  "only screen and (min-width: 1129px)";