/* Variables */
@import url('https://fonts.googleapis.com/css?family=Lato|Nunito:400,500');

$base-font: 'Lato', sans-serif;
$brand-font-one: 'Nunito', serif;
$brand-font-two: 'Lato', sans-serif;;
$base-color: #444;

$color-link: #53B7E0;
$color-hover: #316fe0;
$color-tap: #8ed0e0;

$brand-color-one: #46b6ba;
$brand-color-two: #afdfe0;
$brand-color-three: #086e7c;
$brand-color-four: #01384c;
$brand-color-five: #b61218;

$grey: #CCCCCC;
$darkgrey: #6C6D70;
$offwhite: #f0f0f0;


/* Mixins */

@mixin placeholder($ph-color){
    &::-webkit-input-placeholder { color: $ph-color; }
    &::-moz-placeholder { color: $ph-color; opacity: 1; }
    &:-ms-input-placeholder { color: $ph-color; }
}
@mixin sprite-item($bgp: 0 0, $sprite-width: 20px, $sprite-height: 20px){
    background-position: $bgp;
    width: $sprite-width;
    height: $sprite-height;
    display: inline-block;
}
@mixin fontface($fontname, $fontfile){
    font-family: '${fontname}';
    src: url('../fonts/${fontfile}-webfont.eot');
    src: url('../fonts/${fontfile}-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/${fontfile}-webfont.woff') format('woff'),
    url('../fonts/${fontfile}-webfont.ttf') format('truetype'),
    url('../fonts/${fontfile}-webfont.svg#${fontname}') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin font-awesome($content){
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: $content;
}